.form-group[b-5eldr3qlgw]{
    width:20rem;
    height:90px;
}
.rounded[b-5eldr3qlgw] {
    width:300px;
    height:45px;
}

.save[b-5eldr3qlgw]{
    width:90px;
    height: 30px;
    font-size:15px
}

.accounts[b-5eldr3qlgw]{
    justify-content:space-between
}