.rounded-3[b-fw64h8oam3] {
    width: 100%;
    background-color: #f9f9f9;
    overflow: hidden;
    height: 100%;
    overflow-y: auto;
    max-height: 80vh;
}

.top-container[b-fw64h8oam3] {
    width: 100%;
    height: 65px;
    background-color: #00AAC1;
    color: #ffffff;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.buttons[b-fw64h8oam3] {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-right: 2rem;
}

.mud-table th[b-fw64h8oam3], .mud-table td[b-fw64h8oam3] {
    font-size: 12px;
    min-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mud-table td[b-fw64h8oam3] {
    padding: 8px;
    position: relative;
}


@media screen and (max-width: 768px) {
    .mud-table td[b-fw64h8oam3] {
        display: block;
        padding-left: 20px;
        border-top: 1px solid #ddd;
    }

        .mud-table td[b-fw64h8oam3]::before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            top: 0;
            font-weight: bold;
            color: #555;
            text-transform: capitalize;
        }

    .mud-table th[b-fw64h8oam3] {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .mud-table td[b-fw64h8oam3] {
        display: block;
        padding-left: 20px;
        border-top: 1px solid #ddd;
        position: relative;
    }


        .mud-table td[b-fw64h8oam3]::before {
            content: attr(data-label);
            left: 0;
            top: 0;
            font-weight: bold;
            color: #555;
            text-transform: capitalize;
            padding-right: 10px;
        }

    .mud-table th[b-fw64h8oam3] {
        display: none;
    }
}
