.rounded-3[b-n2ah7os6g4] {
    width: 100%;
    background-color: #f9f9f9;
    overflow: hidden;
    height: 90vh;
    overflow-y: auto;
    max-height: 90vh;
}

.top-container[b-n2ah7os6g4] {
    width: 100%;
    height: 65px;
    background-color: #00AAC1;
    color: #ffffff;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.buttons[b-n2ah7os6g4] {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-right: 2rem
}

.searchbar[b-n2ah7os6g4] {
    display: flex;
    display: inline-block;
    border: none;
    font-size: 12px;
    margin: 5px;
    width: 200px;
    height: 33px;
}
