body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.page-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 95%;
    max-width: 1300px;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.rounded-3 {
    width: 100%;
    background-color: #f9f9f9;
    overflow: hidden;
    height: 100% !important;
    overflow-y: auto;
    max-height: 90vh;
}

.top-container {
    width: 100%;
    height: 65px;
    background-color: #00AAC1;
    color: #ffffff;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.view-all {
    display: inline-block;
    padding: 10px 13px;
    background-color: #00AAC1;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 15px;
}

    .view-all:hover {
        background-color: #008A9A;
        transform: scale(1.05);
    }

    .view-all:active {
        background-color: #007382;
        transform: scale(0.98);
    }

.account-summary,
.account-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    margin-left: 100px;
}

.account-card-large { /* Use this for ALL cards */
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    min-width: 250px;
    max-width: 48%;
    margin-right: 80px;
}

    .account-card-large h4 {
        margin-bottom: 10px;
        color: #333;
    }

    .account-card-large h2 {
        margin-top: 10px;
    }

    .account-card-large h2 {
        color: #28a745;
    }

        .account-card-large h2.receivables {
            color: #dc3545;
        }

        .account-card-large h2.payables {
            color: #dc3545;
        }

.navigate-button {
    display: inline-block;
    padding: 10px 13px;
    background-color: #00AAC1;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 15px;
}

    .navigate-button:hover {
        background-color: #008A9A;
        transform: scale(1.05);
    }

    .navigate-button:active {
        background-color: #007382;
        transform: scale(0.98);
    }
